{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block contenu %}

    <ul class="list-group">
    {% for formation in formations %}
        <li class="list-group-item"><a href='{{path('prostages_formation',{id:formation.id})}}'>{{ formation.nom }} - {{ formation.nomLong }}</a></li>

    {% endfor %}
    </ul>

{% endblock %}