<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">{% endblock %}
    </head>


    <body>


        <div class="container-fluid">

            {% block header %}

            <div class="row">
                <div class="col-12">
                    <div class="jumbotron jumbotron-fluid bg-dark text-white">
                        <div class="container">
                            <h1 class="display-4">Prostages</h1>
                            <p class="lead">Ce site peux vous aider à trouver votre stage.</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}
            {% block navbar %}

            <div class="row"><!-- ligne 2 contenant les pages entreprises et formations -->
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                        <a class="navbar-brand text-white" href="{{ path('prostages_accueil')}}">Accueil</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link text-white" href="{{ path('prostages_entreprises')}}">Entreprises</a>
                                <a class="nav-item nav-link text-white" href="{{ path('prostages_formations')}}">Formations<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            {% endblock %}
            {% block contenu %}

            <div class="row"><!-- ligne 3 contenant les stages -->
                <div class="col-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Stage 1
                                </button>
                            </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </br>
                                <a class="btn btn-primary" href="/stages/1" role="button">En savoir plus</a>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Stage 2
                                </button>
                            </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Stage 3
                                </button>
                            </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}
            {% block footer %}
            <footer class="footer fixed-bottom font-small blue">
                <div class="row"><!-- ligne 4 contenant le pied de page -->
                    <div class="col-12">
                        <div class="alert alert-secondary bg-dark text-white" role="alert">
                            <div class="container">
                                <div id="carouselContent" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active text-center">
                                            <p>Ce pied de page est FA-BU-LEUX! - Ninja, 2016</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>J'ai pu trouver un stage grâce à ce site internet ! MERCI ! - Pewdiepie, 2002</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>😩😩😩😩 - Christopher 2019</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Le design de ce site est tout bonnement incroyable" - Auteur inconnu, 1985</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Une veritable source d'inspiration" - Charles Baudelaire, Aujourd'hui</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Si seulement je savais créer un aussi beau site ..." - Elon Musk, -485 avant J.C à 16h45</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Jamais l'humanite ne pourra faire mieux !" - Charles Darwin, 4 janvier 1927</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"SASUKEEE !!!!" - Naruto, tout le temps</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Franchement pas ouf ce site" - Un mec pas trop sympa, Il y a 2 jours</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Ok boomer." - Squeezie, 2016</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Ok zoomer." - Yves, 2016, en réponse à Squeezie</p>
                                        </div>
                                         <div class="carousel-item text-center">  
                                            <p>"YVES" - Yves, Yves</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            

            {% endblock %}


        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>{% endblock %}
        
    </body>
</html>
