<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">{% endblock %}
    </head>


    <body>


        <div class="container-fluid">

            {% block header %}

            <div class="row">
                <div class="col-12">
                    <div class="jumbotron jumbotron-fluid bg-dark text-white">
                        <div class="container">
                            <h1 class="display-4">Prostages</h1>
                            <p class="lead">Ce site peut vous aider à trouver votre stage.</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}
            {% block navbar %}

            <div class="row"><!-- ligne 2 contenant les pages entreprises et formations -->
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                        <a class="navbar-brand text-white" href="{{ path('prostages_accueil')}}">Accueil</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link text-white" href="{{ path('prostages_entreprises')}}">Entreprises</a>
                                <a class="nav-item nav-link text-white" href="{{ path('prostages_formations')}}">Formations<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            {% endblock %}
            {% block contenu %}



            {% endblock %}
            </br></br>
            {% block footer %}
            <footer class="footer fixed-bottom font-small blue">
                <div class="row"><!-- ligne 4 contenant le pied de page -->
                    <div class="col-12">
                        <div class="alert alert-secondary bg-dark text-white" role="alert">
                            <div class="container">
                                <div id="carouselContent" class="carousel slide" data-ride="carousel" data-interval="4000">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item text-center">
                                            <p>"Ce pied de page est FA-BU-LEUX!" - <i>Ninja, 2016</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"J'ai pu trouver un stage grâce à ce site internet ! MERCI !" - <i>Pewdiepie, 2002</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>😩😩😩😩 - <i>Christopher 2019</p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Le design de ce site est tout bonnement incroyable" - <i>Auteur inconnu, 1985</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Une veritable source d'inspiration" - <i>Charles Baudelaire, Aujourd'hui</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Si seulement je savais créer un aussi beau site ..." - <i>Elon Musk, -485 avant J.C à 16h45</i></p>
                                        </div>
                                        <div class="carousel-item active text-center">  
                                            <p>"Jamais l'humanite ne pourra faire mieux !" - <i>Charles Darwin, 4 janvier 1927</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"SASUKEEE !!!!" - <i>Naruto, tout le temps</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Franchement pas ouf ce site" - <i>Un mec pas trop sympa, Il y a 2 jours</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Ok boomer." - <i>Squeezie, 2016</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Ok zoomer." - <i>Yves, 2016, en réponse à Squeezie</i></p>
                                        </div>
                                         <div class="carousel-item text-center">  
                                            <p>"YVES" - Yves, Yves</p>
                                        </div>
                                        <div class="carousel-item  text-center">  
                                            <p>"∴ᒷʖᓭ╎ℸ ̣ ᒷ ᓵ∷ᒷᔑℸ ̣ ᒷ↸ ʖ|| ᒷᓭℸ ̣ ᒷʖᔑリ ⊣⚍ℸ ̣ ╎ᒷ∷∷ᒷ⨅" - <i>Herobrine, 8:26</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit." - <i>Un développeur fainéant, 4:20</i></p>
                                        </div>
                                        <div class="carousel-item text-center">  
                                            <p>"Nice meme" - <i>Bob l'éponge, Sous l'eau</i></p>
                                        </div>  
                                        <div class="carousel-item text-center">  
                                            <p>"Le temps c'est de l'argent, je vous donne mon temps alors donnez moi de l'argent" - <i>Ayoub M., Dans la salle du temps</i></p>
                                        </div> 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            

            {% endblock %}


        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>{% endblock %}
        
    </body>
</html>
